<li id='order-<%= order.id.to_s %>'>
  <ul>
    <li>
    <%= link_to("Order #{order.id}", user_order_path(order, order.user_id),
                class: 'order-details-link', id: "order-#{order.id}-link") %>
    </li>
    <li class="order-total-price">
      Total: $<%= order.total_price %>
    </li>
    <li class='order-date-time'>
      <%= order.created_at.to_time.strftime("%l:%M %P - %B %e, %Y") %>
    </li>
  </ul>
</li>
