<h1 id="admin-dashboard-title">Admin Dashboard</h1>

<%= link_to "Create New Menu Item", new_product_path, id: 'new-product-link'%>
<%= link_to "Create New Menu Category", new_category_path, id: 'new-category-link'%>
