@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#header-links {
  margin-bottom: 40px;
  li {
    margin: 0px 5px;
    display: inline;
  }
  #auth-links {
    float: right;
    margin-right: 20px;
  }
}

.product {
  text-align: center;
  margin-bottom: 25px;

  .product-image {
    padding: 6px 0px;
  }

  .add-product-to-cart {
    .product-quantity-input {
      width: 22px;
    }
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
