<li class='category'>
  <%= link_to category.name.titleize, category_path(category) %>
  <% if admin_signed_in? %>
    <%= link_to "Edit", edit_category_path(category), 
      id: "edit_category_#{category.id}_link" %>
  <% end %>
</li>
